<p>
  <b>Itinerary type:</b>
  <%=h @itinerary.itinerary_type %>
</p>

<p>
  <b>Departing:</b>
  <%=h @itinerary.departing %>
</p>

<p>
  <b>Arriving:</b>
  <%=h @itinerary.arriving %>
</p>

<p>
  <b>Arrival date:</b>
  <%=h @itinerary.arrival_date %>
</p>

<p>
  <b>Departure date:</b>
  <%=h @itinerary.departure_date %>
</p>

<p>
  <b>Operator:</b>
  <%=h @itinerary.operator %>
</p>

<p>
  <b>Booking reference:</b>
  <%=h @itinerary.booking_reference %>
</p>