  <% services = session[:company].services %>
  
  <% if !services.blank? %>

<div class="excursion">

<% fields_for_excursion(excursion) do |f| %>
  <p>
    <b>Service</b><br />
    <%= f.collection_select :service_id, services, :id, :venue %>
  </p>
  
  <p>
    <b>Duration</b><br />
    <%= f.text_field :duration %>
  </p>

  <p>
    <b>Departure date</b><br />
	<%= f.calendar_date_select :departure_date, :time => true %>
  </p>

  <p>
    <b>Arrival date</b><br />
	<%= f.calendar_date_select :arrival_date, :time => true %>
  </p>

  <p>
    <b>Booking reference</b><br />
    <%= f.text_field :booking_reference %>
  </p>
  
  <p>
    <b>Amount</b><br />
    <%= f.text_field :payment_amount %>
  </p>

  <%= link_to_function "remove", "this.up('.excursion').remove()" %>

<% end %>
  </div>
  
  <% end %>