<h1>New client</h1>

<%= error_messages_for :client %>

<% form_for(@client) do |f| %>

  <%# f.collection_select :id, session[:company].clients, :id, :full_name, :include_blank => true %>

  <%= render :partial => 'fields', :locals => { :f => f } %>

  <div id="locations">
    <%= render :partial => 'location', :collection => @client.locations %>
  </div>
  <p><%= add_location_link "Add a Location" %></p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to('Back', clients_path) unless params[:booking_id] %>
