<p>
  <b>First name:</b>
  <%=h @agent.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @agent.last_name %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @agent.telephone %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @agent.mobile %>
</p>


<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
