<h1>Editing payment</h1>

<%= error_messages_for :payment %>

<% form_for(@payment) do |f| %>
  <p>
    <b>Value</b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <b>Payment type</b><br />
    <%= f.text_field :payment_type %>
  </p>

  <p>
    <b>Processed date</b><br />
    <%= f.date_select :processed_date, :include_blank => true %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @payment %> |
<%= link_to 'Back', payments_path %>
